<div id="<%= dom_id message %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= message.title %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= message.inbox_id %>
  </p>

  <p>
    <%= link_to "Show this message", [@inbox, message] %>
  </p>
</div>
